<%= form_for(@license_type) do |f| %>
  <% if @license_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@license_type.errors.count, "error") %> prohibited this license_type from being saved:</h2>

      <ul>
      <% @license_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vid %><br>
    <%= f.number_field :vid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
