<h1>Listing license_types</h1>

<table>
  <thead>
    <tr>
      <th>Vid</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @license_types.each do |license_type| %>
      <tr>
        <td><%= license_type.vid %></td>
        <td><%= license_type.name %></td>
        <td><%= license_type.description %></td>
        <td><%= link_to 'Show', license_type %></td>
        <td><%= link_to 'Edit', edit_license_type_path(license_type) %></td>
        <td><%= link_to 'Destroy', license_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New License type', new_license_type_path %>
