<p id="notice"><%= notice %></p>

<p>
  <strong>Vid:</strong>
  <%= @license_type.vid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @license_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @license_type.description %>
</p>

<%= link_to 'Edit', edit_license_type_path(@license_type) %> |
<%= link_to 'Back', license_types_path %>
