<%= form_for(@fan_pivot_task) do |f| %>
  <% if @fan_pivot_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_pivot_task.errors.count, "error") %> prohibited this fan_pivot_task from being saved:</h2>

      <ul>
      <% @fan_pivot_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.number_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :uid_folder %><br>
    <%= f.text_field :uid_folder %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.number_field :category %>
  </div>
  <div class="field">
    <%= f.label :section %><br>
    <%= f.text_field :section %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
