<h1>Listing fan_pivot_tasks</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Task</th>
      <th>Uid folder</th>
      <th>Category</th>
      <th>Section</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fan_pivot_tasks.each do |fan_pivot_task| %>
      <tr>
        <td><%= fan_pivot_task.project_id %></td>
        <td><%= fan_pivot_task.task_id %></td>
        <td><%= fan_pivot_task.uid_folder %></td>
        <td><%= fan_pivot_task.category %></td>
        <td><%= fan_pivot_task.section %></td>
        <td><%= link_to 'Show', fan_pivot_task %></td>
        <td><%= link_to 'Edit', edit_fan_pivot_task_path(fan_pivot_task) %></td>
        <td><%= link_to 'Destroy', fan_pivot_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fan pivot task', new_fan_pivot_task_path %>
