<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @fan_pivot_task.project_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @fan_pivot_task.task_id %>
</p>

<p>
  <strong>Uid folder:</strong>
  <%= @fan_pivot_task.uid_folder %>
</p>

<p>
  <strong>Category:</strong>
  <%= @fan_pivot_task.category %>
</p>

<p>
  <strong>Section:</strong>
  <%= @fan_pivot_task.section %>
</p>

<%= link_to 'Edit', edit_fan_pivot_task_path(@fan_pivot_task) %> |
<%= link_to 'Back', fan_pivot_tasks_path %>
