<%= form_for(@tabmanager) do |f| %>
  <% if @tabmanager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tabmanager.errors.count, "error") %> prohibited this tabmanager from being saved:</h2>

      <ul>
      <% @tabmanager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
