<h1>Listing tabmanagers</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabmanagers.each do |tabmanager| %>
      <tr>
        <td><%= tabmanager.project_id %></td>
        <td><%= tabmanager.title %></td>
        <td><%= tabmanager.content %></td>
        <td><%= link_to 'Show', tabmanager %></td>
        <td><%= link_to 'Edit', edit_tabmanager_path(tabmanager) %></td>
        <td><%= link_to 'Destroy', tabmanager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tabmanager', new_tabmanager_path %>
