<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @tabmanager.project_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tabmanager.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tabmanager.content %>
</p>

<%= link_to 'Edit', edit_tabmanager_path(@tabmanager) %> |
<%= link_to 'Back', tabmanagers_path %>
