<%= form_for(@fan_file) do |f| %>
  <% if @fan_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_file.errors.count, "error") %> prohibited this fan_file from being saved:</h2>

      <ul>
      <% @fan_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.number_field :project %>
  </div>
  <div class="field">
    <%= f.label :task %><br>
    <%= f.number_field :task %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
