<h1>Listing fan_files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Project</th>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fan_files.each do |fan_file| %>
      <tr>
        <td><%= fan_file.name %></td>
        <td><%= fan_file.description %></td>
        <td><%= fan_file.project %></td>
        <td><%= fan_file.task %></td>
        <td><%= link_to 'Show', fan_file %></td>
        <td><%= link_to 'Edit', edit_fan_file_path(fan_file) %></td>
        <td><%= link_to 'Destroy', fan_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fan file', new_fan_file_path %>
