<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fan_file.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fan_file.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @fan_file.project %>
</p>

<p>
  <strong>Task:</strong>
  <%= @fan_file.task %>
</p>

<%= link_to 'Edit', edit_fan_file_path(@fan_file) %> |
<%= link_to 'Back', fan_files_path %>
