<%= form_for(@rate_column) do |f| %>
  <% if @rate_column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate_column.errors.count, "error") %> prohibited this rate_column from being saved:</h2>

      <ul>
      <% @rate_column.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score_id %><br>
    <%= f.number_field :score_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
