<h1>Listing rate_columns</h1>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rate_columns.each do |rate_column| %>
      <tr>
        <td><%= rate_column.score_id %></td>
        <td><%= link_to 'Show', rate_column %></td>
        <td><%= link_to 'Edit', edit_rate_column_path(rate_column) %></td>
        <td><%= link_to 'Destroy', rate_column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate column', new_rate_column_path %>
