<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @rate_column.score_id %>
</p>

<%= link_to 'Edit', edit_rate_column_path(@rate_column) %> |
<%= link_to 'Back', rate_columns_path %>
