@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);


html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}




.blocks {
  margin-left: -2%;
}
.blocks:before, .blocks:after {
  content: "";
  display: table;
}
.blocks:after {
  content: "";
  clear: both;
}

.blocks > * {
  float: left;
  margin-left: 2%;
}

.blocks_4up > * {
  width: 23%;
}

.cut {
  overflow: hidden;
  padding: 0 0 30px;
}

.cut-bd {
  padding: 15px 15px 0;
  position: relative;
}

.cut-hd {
  margin: 0 0 5px;
  padding: 0 0 5px;
}

.cut-hd_red {
  border-bottom: 1px solid #e43725;
}

.cut-hd_green {
  border-bottom: 1px solid #17a689;
}

.cut-bd_red {
  border-top: 5px solid #f39c12;
  background: #e74c3c;
  color: #ecf0f1;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}
.cut-bd_red:before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  top: 100%;
  right: 30px;
  background: #e74c3c;
}
.cut-bd_red:after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -30px;
  position: absolute;
  top: 100%;
  left: 100%;
  border: 15px solid #e74c3c;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.cut-bd_green {
  border-top: 5px solid #ecf0f1;
  background: #ecf0f1;
  /*color: #ecf0f1;*/
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}
.cut-bd_green:before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  top: 100%;
  right: 30px;
  background: #ecf0f1;
}
.cut-bd_green:after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -30px;
  position: absolute;
  top: 100%;
  left: 100%;
  border: 15px solid #ecf0f1;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.intro {
  color: #ecf0f1;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px #233140;
}

.hdg {
  color: #ffff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
