.table-editable {
  position: relative;
  background-color: #118798;

}

/*NOTA RAFA: Instruccion para que la Tabla Muestre TODOS los datos - Se salga del contenedor */
.ui-grid-viewport {
    overflow: visible !important;
}
/*      */

.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}
.table-remove:hover {
  color: #f00;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}
.table-up:hover, .table-down:hover {
  color: #00f;
}

.table-add {
  
  cursor: pointer;
  
  
}
.table-add:hover {
  color: #0b0;
}
#task-table th{
  background-color: #000;
  color: #fff;
}
#task-table {
  color: #fff;
}
#task-table td{
  border-top: 0px;
}