.tucked-corners {
    background-image: url('http://distilleryimage1.s3.amazonaws.com/4cd92c4afa4e11e19e6f22000a1e8b8a_7.jpg');
    
/*    box-shadow: inset 0 0 0 .1em hsla(0,0%,0%,.1),
                0 .1em .25em hsla(0,0%,0%,.25);*/
    margin: 0 auto;
    padding-bottom: 100%;
    position: relative;
    height: 24%;
    width:320px;
}

/*.tucked-corners:before {
    box-shadow: inset 0 1em .25em -1em hsla(0,0%,0%,.5),
                inset 0 -1em .25em -1em hsla(0,0%,0%,.5),
                0 3em 0 -.1em #fff,
                0 -3em 0 -.1em #fff;
    content: '';
    height: 100%;
    left: 50%;
    margin: -15% -10%;
    position: absolute;
    top: 0%;
    width: 20%;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.tucked-corners:before {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}*/

/*.octagon { 
    width: 100px; height: 100px; background: red; position: relative; 
} */
/*.octagon:before { 
    content: ""; position: absolute; 
    top: 0; left: 0;

    border-bottom: 29px solid transparent; border-left: 29px solid #fff; border-right: 29px solid #fff; width: 240px; height: 0;margin-left: -1px;
} 
.octagon:after { 
    content: ""; position: absolute; bottom: 0; left: 0; border-top: 29px solid transparent; border-left: 29px solid #fff; border-right: 29px solid #fff; width: 240px; height: 0; 
}*/

.projectPodBackground{
    height: 450px;
    background-image: url("/images/back_card_zero.png");
    position: relative;
    top: -405px;
    width: 330px;
}
.podContent{
    margin-top:-690px;
    margin-left:20px;
}
.grid-item-style{
    height: 450px;
    position: absolute;
    left: 45px;
    top: 25px;
    width: 316px;
}