.hdg {
  color: #ffff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}


.input-group-project {
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}

.input-group-project:after {
    content: "";
    display: table;
    clear: both;
}

.input-group-project input {
    border: none;
    border-bottom: solid 1px #ccc;
    width: 100%;
    padding: 10px 0;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group-project input:focus {
    outline: none;
    border-color: #20cfb8;
    box-shadow: 0 1px 0 0 #20cfb8;
}

.input-group-project label {
    position: absolute;
    top: 0px;
    left: 0;
    color: #aaa;
    font-weight: 300;
    transition: transform 0.2s ease, color 0.2s ease;
}

.input-group-project label:hover {
    cursor: text;
}

.input-group-project input:focus + label {
    color: #20cfb8;
}

.input-group-project input:focus + label,
.input-group-project input.active + label {
    transform: translateY(-10px);
}


