#chartdiv {
	width: 100%;
	height: 500px;
}
.demo-panel-black {
    background-color: #535364;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px 0 rgb(0,0,0);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}