<h1>Listing user_badges</h1>

<table>
  <thead>
    <tr>
      <th>Badge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_badges.each do |user_badge| %>
      <tr>
        <td><%= user_badge.badge_id %></td>
        <td><%= link_to 'Show', user_badge %></td>
        <td><%= link_to 'Edit', edit_user_badge_path(user_badge) %></td>
        <td><%= link_to 'Destroy', user_badge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User badge', new_user_badge_path %>
