<%= form_for(@fan_style_definition) do |f| %>
  <% if @fan_style_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_style_definition.errors.count, "error") %> prohibited this fan_style_definition from being saved:</h2>

      <ul>
      <% @fan_style_definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :icon %><br>
    <%= f.text_field :icon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
