<h1>Listing fan_style_definitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fan_style_definitions.each do |fan_style_definition| %>
      <tr>
        <td><%= fan_style_definition.name %></td>
        <td><%= fan_style_definition.icon %></td>
        <td><%= link_to 'Show', fan_style_definition %></td>
        <td><%= link_to 'Edit', edit_fan_style_definition_path(fan_style_definition) %></td>
        <td><%= link_to 'Destroy', fan_style_definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fan style definition', new_fan_style_definition_path %>
