<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fan_style_definition.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @fan_style_definition.icon %>
</p>

<%= link_to 'Edit', edit_fan_style_definition_path(@fan_style_definition) %> |
<%= link_to 'Back', fan_style_definitions_path %>
