<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @badge.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @badge.description %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
