<%= simple_form_for @fan_project,html: {multipart: true} do |f| %>
  <% if @fan_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_project.errors.count, "error") %> prohibited this fan_project from being saved:</h2>

      <ul>
      <% @fan_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container-fluid" style="margin-top:70px" >
<h2 class="hdg" style="margin-top:0px;text-align:center">
<div class="input-group-project">
        <% if @fan_project.name==nil
            @fan_project.name=""
          end
          %>

        <%= f.input :name, input_html: { class: 'm-input',id:"project-name",style:"color:#000" },label:false,ng: { model: 'namemodel',init:"namemodel='"+@fan_project.name+"'" }
 %>
        <label for="project-name" style="left: 0px;">PROJECT NAME</label>
    </div>
    </h2>
  <div class="row">
    <div class="col-md-6" style="z-index:32">
      <div class="jumbotron" style="border-radius: 25px;border: 2px solid #fff;width: 105%;">
       <input type="file" name="image_icon" id="selectImage">
        <div style="border-style: dotted;width:480px;height:380px;">
        <% if @fan_project.image_icon==nil %>
          <img id="preview-img" alt="Bootstrap Image Preview"  src="http://placehold.it/480x380" class="img-thumbnail">
        <% else %>
          <img id="preview-img" alt="Bootstrap Image Preview" width="480" src="/proj-icon/<%= @fan_project.image_icon %>" class="img-thumbnail">

        <% end %>
        </div>


      </div>

    </div>
    <div class="col-md-6" style="z-index:31">
      <div class="jumbotron" >

        <div style="width:293px;height:450px;" class="grid-item ">

            <div class="tucked-corners" style="background-image: url(/proj-icon/<%= @fan_project.image_icon %>);background-size:     cover;  background-repeat: no-repeat; background-position: center -130px; "></div>
            <div class="projectPodBackground" style="top:-301px;background-image: url('/images/Card_gray.png')"></div>

<table class="podContent" style="margin-top:-590px">
  <tr>
    <td><h2>{{ namemodel }}</h2></td>
    <td><img src="/images/License_Button.png" width="70"></td>
    <td></td>

  </tr>
  <tr>
    <td>by <%= FanUser.where(:id=>session[:currentUser]).last.username %></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td>{{ descriptionmodel }}</td>
    <td></td>
    <td></td>

  </tr>

</table>
<div class="meter" style="width:80%;padding:1px;margin:0px 0px 0px;margin-left:20px">
  <span style="width: 25%"></span>
</div>
<table style="margin-left:20px; width:100% ">
  <tr>
    <td><img src="/images/Icon_Fans.png" width="20"></td>
    <td><img src="/images/Icon_Progress.png" width="20"></td>
    <td><img src="/images/Icon_Pay.png" width="20"></td>
    <td><img src="/images/Icon_Time.png" width="20"></td>
  </tr>
  <tr>
    <td>300</td>
    <td>25%</td>
    <td>$250</td>
    <td>7 days</td>
  </tr>
  <tr>
    <td><h5>Fans</h5></td>
    <td><h5>Done</h5></td>
    <td><h5>Honeys</h5></td>
    <td><h5>to go</h5></td>
  </tr>


</table>

</div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <div class="input-group" style="margin-top:-50px">

Description
    <textarea class="form-control custom-control" rows="6" style="resize:none" name="fan_project[description]" ng-model="descriptionmodel" ng-init="descriptionmodel='<%= @fan_project.description %>'"><%= @fan_project.description %>
    </textarea> <span class="input-group-addon btn btn-primary">
    </span>
</div>
    </div>
    <div class="col-md-6">
      <h3>
        License type
        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
    License
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ng-repeat="license in incontroller.licenseTypes"><a href="#">{{ license.name}}</a></li>
  </ul>
</div>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <!-- Small modal -->

      <% if @fan_project.id!=nil %>
      <div class="panel-group" id="panel-403436">
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title" data-toggle="collapse" data-parent="#panel-403436" href="#panel-element-953965">Project</a>
          </div>
          <div id="panel-element-953965" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="tabbable" id="tabs-277840">
        <ul class="nav nav-tabs" role="tablist">
          <!-- <li class="active">
            <a href="#panel-483202" data-toggle="tab">Video</a>
          </li>
          <li>
            <a href="#panel-173764" data-toggle="tab">Team</a>
          </li>
          <li>
            <a href="#panel-173765" data-toggle="tab">Sponsors</a>
          </li> -->


          <li ng-repeat="customTabName in incontroller.projectListTabs">
            <a href="#panel-1765{{customTabName.id}}" data-toggle="tab">{{customTabName.title}}</a><a href="#" style="color:red;margin-left:-20px" ng-click="incontroller.removeitm(customTabName.id)">X</a>
          </li>


          <li>
            <a href="#" class="add-ntab">+</a>
          </li>

        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="panel-483202">
          <% f.input :description, as: :text, input_html: { class: 'summernote' },label:false %>


          </div>


          <div class="tab-pane" ng-class="$index == 0 ? 'active' : 'cualquiera'" id="panel-1765{{customTabNameContent.id}}" ng-repeat="customTabNameContent in incontroller.projectListTabs">
            <textarea class="summernote" id="contents-{{customTabNameContent.id}}" name="ctab[{{customTabNameContent.id}}]" title="Contents">
              {{ customTabNameContent.content }}
            </textarea>
          </div>


        </div>
      </div>
    </div>
            </div>
          </div>
        </div>
        <% end %>



      </div>

  </div>
  <div class="actions">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>

  <% if @fan_project.id!=nil %>
  <div class="row-fluid" >
    <div class="col-md-12" style="background-color:#118798;">

    <div class="row">
    <div class="col-md-2" style="color:#fff">
      <h3>PROJECT TASK</h3>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Search" ng-change="incontroller.filteringText()" ng-model="incontroller.searchBox">
    </div>
    <div class="col-md-3">



      <!-- <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:50%;">
    {{ incontroller.selectedCategory[0] }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ng-repeat="category in incontroller.fanimateCategories" ng-click="incontroller.setCategory(category.name )"><a href="#addntask">{{ category.name }}</a></li>
  </ul>
</div> -->

<select id="soflow" style="margin-top:0px;width:200px" ng-model="incontroller.selectedCategory[0]" ng-change="incontroller.preCategory()">
  <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
  <option ng-repeat="category in incontroller.fanimateCategories" ng-click="incontroller.setCategory(category.name )" value="{{ category.name }}">{{ category.name }}</option>
</select>



    </div>
        <div class="col-md-4">
            <a href="#table" id="addntask" class="btn btn-info pull-right table-add" role="button" style="background-color: #ccc;
    background: linear-gradient(to bottom, #45423B 5%, #302E2A 100%) repeat scroll 0 0 #262521;color:#fff;border-color:#000">Add new task</a>
        </div>
    </div>

      <div class="row">
          <div class="col-md-12">


             <div id="grid1" ui-grid="gridOptions" ui-grid-edit class="grid" ng-style="getTableHeight()"></div>




        </div>
        </div>
    </div>
  </div>

<!-- <a href="#table" id="export-btn" class="btn btn-info " role="button" style="background-color: #ccc;
    background: linear-gradient(to bottom, #45423B 5%, #302E2A 100%) repeat scroll 0 0 #262521;color:#fff;border-color:#000">export</a> -->
  <% end %>
</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="innerModalContent">

  </div>
</div>
</div>