<%= render "shared/topMenu" %>

 <script>    var columVisible =   <%= FanUser.find_by_id(session[:currentUser]).level_user.to_i >= 2 %>;</script>
<div class="overlay" style="display:none">
  <div class="box" style="margin: 1400px auto !important;">
    <span class="close fontawesome-remove-sign"></span>
    <h2>Creating task</h2>
    <p>Please wait while the documents are being created.</p>
  </div>
</div>
<%= render 'form' %>

<%= link_to 'Show', @fan_project %> |

<%= render "shared/bottomMenu" %>
