<%= render "shared/topMenu" %>
<div id="watermark" style="top:310px;background-color:#118798">
    <img src="/images/mask_home.png" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
</div>
<div class="container">
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>My projects</h1>

        <% if FanUser.find_by_id(session[:currentUser]).level_user.to_i >= 1 %>
        	<%=  link_to 'Create project', new_fan_project_path , :class=>"btn btn-info pull-right table-add"%>
        <% end -%>

    </div>








    <% @fan_projects.each do |fan_project| %>

    <div data-toggle="collapse" data-target="#demo-<%= fan_project.id %>" ng-click="incontroller.preventHideEffect('<%= fan_project.id %>')" id="cola-<%= fan_project.id %>" style="position: relative;
   width: 100%;">
   <div style="background-image: url(/proj-icon/<%= fan_project.image_icon %>);background-size: cover; background-repeat: no-repeat;position: absolute;
    left: 0;
    width: 100%;
    top:10px;
    z-index:-10;
    width:220px">
   <br>
   <br>
   <br>
   <br></div>
   <div class="" style="background-image: url(/images/project_collapse_min.png);background-size: cover; background-size: 870px;background-repeat: no-repeat;">

<div class="row">
  <div class="col-md-3"><br></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-3"><br></div>
  <div class="col-md-4"><p><h3><%= fan_project.name %></h3></p></div>
  <div class="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-3"><br></div>
  <div class="col-md-5">

  <div class="row">
  <div class="col-md-2">
  Progress
  <%
  total_v=FanTask.where(:assigned_to=>fan_project.id)
  done_v=total_v.where(:status=>"Done")
  review_v=total_v.where(:status=>"Review")
  taken_v= total_v.where(:status=>"Taken")
  free_v= total_v.where(:status=>"---")
  active_v= total_v.where(:status=>"Active")
  %>
  </div>
    <div class="col-md-10">
    <% if total_v.length>0%>
      <div class="progress">
          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" style="width:<%= (done_v.length*100)/total_v.length %>%">
            Done
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar" style="width:<%= (review_v.length*100)/total_v.length %>%">
            Review
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" style="width:<%= (taken_v.length*100)/total_v.length %>%">
            Taken
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-orange" role="progressbar" style="width:<%= (active_v.length*100)/total_v.length %>%">
            Active
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" style="width:<%= (free_v.length*100)/total_v.length %>%">
            Inactive
          </div>
      </div>
      <% end %>


    </div>
</div>

</div>
  <!-- <div class="col-md-4">

<div class="row">
  <div class="col-md-2">
  Budget
  </div>
    <div class="col-md-10">
      <div class="progress">
          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" style="width:40%">
            Free Space
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar" style="width:10%">
            Warning
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" style="width:20%">
            Danger
          </div>
      </div>
    </div>
</div>


  </div> -->
</div>
<div class="row">
  <div class="col-md-3"><br></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-3"><br></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>


</div>
</div>



<div id="demo-<%= fan_project.id %>" class="collapse minicol-<%= fan_project.id %>" ng-click="incontroller.preventRevertHideEffect('<%= fan_project.id %>')">
<div class="row">
  <div class="col-md-5">
  <div style="background-image: url(/proj-icon/<%= fan_project.image_icon %>);background-size: cover; background-repeat: no-repeat;position: absolute;
    left: 20px;
    top:18px;
    z-index:-10;
    width:320px;
    height:180px">
    <br>
    <br>
    <br>
    <br>
    </div>
  <img src="/images/back_card.png">
  <div style="position: absolute;
    left: 40px;
    top:180px;
    width:320px;
    height:180px">
    <table>
    <tr>
    <td>
    <h1><%= fan_project.name %></h1>
    </td>
    <td>
    <img src="/images/License_Button.png" width="70">
    </td>
    </tr>
    </table>
    <h4>by <%= FanUser.find_by_id(fan_project.user_id).username %></h4>
    <br>
    <% if fan_project.description!=nil %>
    <%= fan_project.description.html_safe %>
    <% end %>
    <br>
    <% todos_a=FanTask.where(:assigned_to=>fan_project.id,:task_type=>session[:currentCategory]).length
avance_a=FanTask.where(:assigned_to=>fan_project.id,:task_type=>session[:currentCategory],:status=>"Done").length
%>
<% if todos_a>0 %>
    <div class="progress" style="width:280px">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:<%= (avance_a*100)/todos_a %>%">
    <span class="sr-only"><%= (avance_a*100)/todos_a %>% Complete</span>
  </div>
</div>
<% else %>
<div class="progress" style="width:280px">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:0%">
    <span class="sr-only">0% Complete</span>
  </div>
</div>
<% end %>
<table style="width:100% ">
  <tr>
    <td><img src="/images/Icon_Fans.png" width="20"></td>
    <td><img src="/images/Icon_Progress.png" width="20"></td>
    <td><img src="/images/Icon_Pay.png" width="20"></td>
    <td><img src="/images/Icon_Time.png" width="20"></td>
  </tr>
  <tr>


    <td>300</td>
    <% if todos_a>0 %>
      <td><%= (avance_a*100)/todos_a %>%</td>
    <% else %>
      <td>0%</td>
    <% end %>
    <td>$250</td>
    <td>7 days</td>
  </tr>
  <tr>
    <td><h5>Fans</h5></td>
    <td><h5>Done</h5></td>
    <td><h5>Honeys</h5></td>
    <td><h5>to go</h5></td>
  </tr>


</table>
    </div>
  </div>
  <div class="col-md-3"><h3>Progress</h3>

<% @categories.each do |singleCategory| %>
<%
  total_v=FanTask.where(:assigned_to=>fan_project.id,:task_type=>singleCategory.id)
  done_v=total_v.where(:status=>"Done")
  review_v=total_v.where(:status=>"Review")
  taken_v= total_v.where(:status=>"Taken")
  free_v= total_v.where(:status=>"---")
  active_v= total_v.where(:status=>"Active")
  %>

<% if total_v.length>0 %>
<div class="row">
  <div class="col-md-3"><%= singleCategory.name %></div>
  <div class="col-md-9">

      <div class="progress">
          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" style="width:<%= (done_v.length*100)/total_v.length %>%">
            Done
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar" style="width:<%= (review_v.length*100)/total_v.length %>%">
            Review
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" style="width:<%= (taken_v.length*100)/total_v.length %>%">
            Taken
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-orange" role="progressbar" style="width:<%= (active_v.length*100)/total_v.length %>%">
            Active
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" style="width:<%= (free_v.length*100)/total_v.length %>%">
            Inactive
          </div>
      </div>


    </div>
    </div>
    <% end %>
 <% end -%>

  </div>
 <!--  <div class="col-md-4">
  <h3>Budget</h3>
<% @categories.each do |singleCategory| %>
<%
  total_v=FanTask.where(:assigned_to=>fan_project.id,:task_type=>singleCategory.id)
  done_v=total_v.where(:status=>"Done")
  review_v=total_v.where(:status=>"Review")
  taken_v= total_v.where(:status=>"Taken")
  free_v= total_v.where(:status=>"---")
  active_v= total_v.where(:status=>"Active")
  %>
  <% if total_v.length>0 %>
    <div class="row">

  <div class="col-md-9">
      <div class="progress">
          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" style="width:40%">
            Free Space
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar" style="width:10%">
            Warning
          </div>
          <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" style="width:20%">
            Danger
          </div>
      </div>
    </div>
</div>
  <% end -%>
<% end -%>


  </div> -->
</div>
</div>
<%= link_to 'Show' , fan_project %>
        <%= link_to 'Edit', edit_fan_project_path(fan_project) %>
        <% link_to 'Destroy', fan_project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne-<%= fan_project.id %>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-<%= fan_project.id %>" aria-expanded="true" aria-controls="collapseOne-<%= fan_project.id %>">
          <%= fan_project.name %>
        </a>
      </h4>
    </div>
    <div id="collapseOne-<%= fan_project.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-<%= fan_project.id %>">
      <div class="panel-body">
        <%= fan_project.description %>
        <%= link_to 'Show' , fan_project %>
        <%= link_to 'Edit', edit_fan_project_path(fan_project) %>
        <% link_to 'Destroy', fan_project, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div> -->


    <% end %>
  </div>
</div>


<br>


<%= render "shared/bottomMenu" %>
