<%= render "shared/topMenu" %>

<p id="notice"><%= notice %></p>
<div class="container-fluid" style="margin-top:70px">
<h2 class="hdg" style="margin-top:0px;text-align:center">
<div class="input-group-project">
        
        

        <input type="text" class="m-input" value="<%= @fan_project.name %>" readonly>
        <label for="project-name" style="left: 0px;"></label>
    </div>
    </h2>
  <div class="row">
    <div class="col-md-6" style="z-index:32">
      <div class="jumbotron" style="border-radius: 25px;border: 2px solid #fff;width: 105%;">
        <div >
          <img alt="Bootstrap Image Preview" src="/proj-icon/<%= @fan_project.image_icon %>" class="img-thumbnail">
        </div>
        
        
      </div>

    </div>
    <div class="col-md-6" style="z-index:31">
      <div class="jumbotron" >
        
        <div style="width:293px;height:450px;" class="grid-item ">

            <div class="tucked-corners" style="background-image: url(/proj-icon/<%= @fan_project.image_icon %>thumb.png);background-size:     cover;  background-repeat: no-repeat; background-position: center -130px;"></div>
            <div class="projectPodBackground" style="top:-301px;background-image: url('/images/Card_gray.png');" ></div>

<table class="podContent" style="margin-top:-590px">
  <tr>
    <td><h2><%= @fan_project.name %></h2></td>
    <td><img src="/images/License_Button.png" width="70"></td>
    <td></td>
    
  </tr>
  <tr>
    <td>by <%= FanUser.find_by_id(@fan_project.user_id).username %></td>
    <td></td>
    <td></td>
    
  </tr>
  <tr>
    <td><%= @fan_project.description %>  </td>
    <td></td>
    <td></td>
    
  </tr>
  
</table> 
<div class="meter" style="width:80%;padding:1px;margin:0px 0px 0px;margin-left:20px">
  <span style="width: 25%"></span>
</div>
<table style="margin-left:20px; width:100% ">
  <tr>
    <td><img src="/images/Icon_Fans.png" width="20"></td>
    <td><img src="/images/Icon_Progress.png" width="20"></td>
    <td><img src="/images/Icon_Pay.png" width="20"></td>
    <td><img src="/images/Icon_Time.png" width="20"></td>
  </tr>
  <tr>
    <td>300</td>
    <td>25%</td>
    <td>$250</td>
    <td>7 days</td>
  </tr>
  <tr>
    <td><h5>Fans</h5></td>
    <td><h5>Done</h5></td>
    <td><h5>Honeys</h5></td>
    <td><h5>to go</h5></td>
  </tr>
  
  
</table> 

</div>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <p>
        <%= @fan_project.description.html_safe %>
      </p>
    </div>
    <div class="col-md-6">
      <h3>
        License type
        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    License
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="panel-403436">
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title" data-toggle="collapse" data-parent="#panel-403436" href="#panel-element-953965">Project info</a>
          </div>
          <div id="panel-element-953965" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="tabbable" id="tabs-277840">
        <ul class="nav nav-tabs">


          <li ng-repeat="customTabName in incontroller.projectListTabs">
            <a href="#panel-1765{{customTabName.id}}" data-toggle="tab">{{customTabName.title}}</a>
          </li>


         
        </ul>
        <div class="tab-content">

        <div class="tab-pane" ng-class="$index == 0 ? 'active' : 'cualquiera'" id="panel-1765{{customTabNameContent.id}}" ng-repeat="customTabNameContent in incontroller.projectListTabs" ng-bind-html="customTabNameContent.content">
           
             
            
          </div>


         
          
          <div class="tab-pane" id="panel-173765">
            
          </div>
        </div>
      </div>
    </div>
            </div>
          </div>
        </div>
        
      </div>
      
  </div>
  

  <% if @fan_project.id!=nil %>
  <div class="row-fluid" >
    <div class="col-md-12" style="background-color:#118798;">

    <div class="row">
    <div class="col-md-2" style="color:#fff">
      <h3>PROJECT TASK</h3>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <div class="col-md-3">



      <!-- <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:50%;">
    {{ incontroller.selectedCategory[0] }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ng-repeat="category in incontroller.fanimateCategories" ng-click="incontroller.setCategory(category.name )"><a href="#addntask">{{ category.name }}</a></li> 
  </ul>
</div> -->
<select id="soflow" style="margin-top:0px;width:200px" ng-model="incontroller.selectedCategory[0]" ng-change="incontroller.preCategory()">
  <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
  <option ng-repeat="category in incontroller.fanimateCategories" ng-click="incontroller.setCategory(category.name )" value="{{ category.name }}">{{ category.name }}</option>
</select>


    </div>
        <div class="col-md-4"> 
    </div>

      <div class="row">
          <div class="col-md-12">
            
            <div id="grid1" ui-grid="gridOptions" class="grid" style="">
              
            </div>


        </div>
        </div>
    </div>
  </div>

  <% end %>
</div>


<button>Change content of all p elements</button>

<% if @fan_project.user_id.to_i==session[:currentUser] %>
<%= link_to 'Edit', edit_fan_project_path(@fan_project) %> |
<%= link_to 'Back', fan_projects_path %>
<% end -%>
<%= render "shared/bottomMenu" %>
