
<div class="header">
  <div style="float: left;margin-top: -98px;margin-left:30px;" class="logoPositioner">
    <a href="/"><img src="/images/Logo_Fanimate.png" height="250"></a>
  </div>
  <div id="search-box">
    <form action="/" id="search-form" method="get" target="_top">
    <input id="search-text" name="q" placeholder="{{ incontroller.welcome() }}" type="text">
    <button id="search-button" type="submit">
    <span>Search</span>
    </button>
    </form>

    <div class="" id="category-type-topmenu-dropdown">

      <!-- <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{ incontroller.selectedCategory[0] }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ng-repeat="category in incontroller.fanimateCategories" ng-click="incontroller.setCategory(category.name )"><a href="#">{{ category.name }}</a></li>


  </ul>
</div> -->


<select id="soflow" style="margin-top:0px;width:200px" ng-model="incontroller.selectedCategory[0]" ng-change="incontroller.preCategory()">
  <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
  <option ng-repeat="category in incontroller.fanimateCategories" ng-click="incontroller.setCategory(category.name )" value="{{ category.name }}">{{ category.name }}</option>
</select>

    </div>

  </div>


  <div id="entrance_login" <% if session[:currentUser]!=nil %> style="margin-top:35px;width: 120px;" <% end %>>
    <% if session[:currentUser]==nil %>
      <a class="modalBtn trigger login-line" href="javascript:;"><img src="/images/Login.png"></a>
      <a class="modalBtn trigger2 login-line" href="javascript:;" style="margin-left:-130px;margin-top:-7px"><img src="/images/register.png"></a>
    <% else %>
      <table style="border-spacing:15px;margin-left:-200px;margin-top:-25px;cellspacing:10px">
        <tr>
          <td style="text-align: center;width: 50px;">
          <a id="myProjectsToolTip" href="/fan_projects"><img src="/images/My_Projects.png" /></a>
          </td >
          <td style="text-align: center;width: 50px;">
          <a id="boxToolTip" href="#"><img src="/images/Menu__0001_Box.png" /></a>
          </td >
          <td style="text-align: center;width: 50px;">
            <a id="exclamationToolTip" href="#"><img src="/images/Menu__0000_Exclamation.png"  /></a>
          </td>
          <td style="text-align: center;width: 50px;">
            <a id="questionToolTip" href="/fan_users"><img src="/images/Menu__0002_QuestionMark.png"  /></a>
          </td>
          <td style="text-align: center;width: 50px;">
          <a id="mailToolTip" href="#"><img src="/images/Menu__0004_mail.png"  /></a>
          </td>
          <td style="text-align: center;width: 50px;">
            <a id="moneyToolTip" href="#"><img src="/images/Menu__0003_Money.png" /></a>
          </td>



          <td style="text-align: center;">
          <div >
            <a  href="#" ng-click="incontroller.logoutProcess()" id="logoutTooltip"><img src="/images/logout.png"  /></a>
            </div>
          </td>

        </tr>


        </tr>
      </table>
      <% end %>
    </div>
</div>
