<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @history.user_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @history.task_id %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @history.completed %>
</p>

<p>
  <strong>File:</strong>
  <%= @history.file_id %>
</p>

<p>
  <strong>Due time:</strong>
  <%= @history.due_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @history.price %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
