

      

<%= simple_form_for @skill_needed do |f| %>
<input type="hidden" name="skill_needed[project_id]" value="<%= @skill_needed.project_id %>">
<input type="hidden" name="skill_needed[task_id]" value="<%= @skill_needed.task_id %>">
  <% if @skill_needed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill_needed.errors.count, "error") %> prohibited this skill_needed from being saved:</h2>

      <ul>
      <% @skill_needed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :task_id %><br>
    <%= f.number_field :task_id %>
  </div> -->
  <div class="field">
  <%= f.input :skill_id,:collection => SkillList.all,:label_method => :name,:value_method => :id,:label => "Skill" ,:include_blank => false %>

    <% f.label :skill_id %><br>
    <% f.number_field :skill_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



   