<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Skill filter</h4>
      </div>
      <div class="modal-body">
      <div class="row">
<div class="col-md-6">
<table>
  <table class="table table-striped">
    <tr>
      <!-- <th>Id</th> -->
      <!-- <th>Project</th> -->
      <!-- <th>Task</th> -->
      <th>Skill</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_neededs.each do |skill_needed| %>
      <tr>
        <!-- <td><%= skill_needed.id %></td> -->
        <!-- <td><%= skill_needed.project_id %></td>
        <td><%= skill_needed.task_id %></td>-->
        <td><%= SkillList.find_by_id(skill_needed.skill_id).name %></td> 
        <td><%= skill_needed.score %></td>
        <td><%= link_to 'Destroy', skill_needed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "skill_neededs/form" %>

</div>
<div class="col-md-6">


<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>Id</th> -->
      <!-- <th>Project</th> -->
      <!-- <th>Task</th> -->
      <th>Tag style</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% TagsNeeded.where(:project_id=>@skill_needed.project_id,:task_id=>@tags_needed.task_id).each do |skill_needed| %>
      <tr>
        <!-- <td><%= skill_needed.id %></td> -->
        <!-- <td><%= skill_needed.project_id %></td>
        <td><%= skill_needed.task_id %></td>-->
        <td><%= FanStyleDefinition.find_by_id(skill_needed.fan_style_definition_id).name %></td> 
        
        
        <td><%= link_to 'Destroy', skill_needed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= render "tags_neededs/form" %>
</div>    

</div> 
</div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
<% link_to 'New Skill needed', new_skill_needed_path %>



