<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @skill_needed.id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @skill_needed.project_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @skill_needed.task_id %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @skill_needed.skill_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @skill_needed.score %>
</p>

<%= link_to 'Edit', edit_skill_needed_path(@skill_needed) %> |
<%= link_to 'Back', skill_neededs_path %>
