<%= form_for(@skill_list) do |f| %>
  <% if @skill_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill_list.errors.count, "error") %> prohibited this skill_list from being saved:</h2>

      <ul>
      <% @skill_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
