

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_lists.each do |skill_list| %>
      <tr>
        <td><%= skill_list.id %></td>
        <td><%= skill_list.name %></td>
        <td><%= link_to 'Show', skill_list %></td>
        <td><%= link_to 'Edit', edit_skill_list_path(skill_list) %></td>
        <td><%= link_to 'Destroy', skill_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New skill', new_skill_list_path %>

