<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @skill_list.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @skill_list.name %>
</p>

<%= link_to 'Edit', edit_skill_list_path(@skill_list) %> |
<%= link_to 'Back', skill_lists_path %>
