<%= form_for(@fan_rate) do |f| %>
  <% if @fan_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_rate.errors.count, "error") %> prohibited this fan_rate from being saved:</h2>

      <ul>
      <% @fan_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :score_json %><br>
    <%= f.text_field :score_json %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
