<%= render "shared/topMenu" %>
<div id="watermark" style="top:310px;background-color:#118798">
    <img src="/images/mask_home.png" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
</div>
<div class="container">
  <!-- Begin page content -->
  <div class="container" style="width: 95%;">
    <div class="page-header">
      <h1>User rating</h1>
      
    </div>
    <select id="example-getting-started" multiple="multiple">
    <% SkillList.all.each do |singleSkill| %>
      <option value="<%= singleSkill.id %>" <%if RateColumn.find_by_score_id(singleSkill.id)!=nil%>selected="true" <% end %>><%= singleSkill.name %></option>
    <% end %>
</select>



  <div id="grid1" ui-grid="gridOptions" ui-grid-edit class="grid" style=""></div>



    
  </div>
</div>


<br>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
  </div>
</div>

<%= render "shared/bottomMenu" %>
