<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fan_rate.user_id %>
</p>

<p>
  <strong>Score json:</strong>
  <%= @fan_rate.score_json %>
</p>

<%= link_to 'Edit', edit_fan_rate_path(@fan_rate) %> |
<%= link_to 'Back', fan_rates_path %>
