<%= form_for(@fan_task) do |f| %>
<input name="fan_task[brief]" type="hidden" value="" id="fan_brief" />
<input name="fan_task[filesref]" type="hidden" value="" id="fan_filesref" />
  <% if @fan_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_task.errors.count, "error") %> prohibited this fan_task from being saved:</h2>

      <ul>
      <% @fan_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
  <div class="tabbable" id="tabs-277840">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#panel-483202" data-toggle="tab">Brief</a>
          </li>
          <li>
               <% if FanProject.find_by_id(@fan_task.assigned_to).user_id.to_i==session[:currentUser].to_i  && ( @fan_task.status=="Active" || @fan_task.status=="Inactive") %>
            <a href="#panel-173764" data-toggle="tab" ng-click="referencesTab()">References</a>
              <% end %>
          </li>
          <li>
              <% if @fan_task.status=="Review" %>
              <a href="#panel-173765" data-toggle="tab" ng-click="msubmitTab()">Review</a>
              <% else if @fan_task.status=="Done" %>
              <a href="#panel-173765" data-toggle="tab" ng-click="msubmitTab()">Files</a>
              <% else if @fan_task.status=="Taken" && @fan_task.worker.to_i==session[:currentUser].to_i %>
              <a href="#panel-173765" data-toggle="tab" ng-click="msubmitTab()">Submit</a>
              <% else %>

              <% end %>
              <% end %>
              <% end %>

          </li>
          </ul>

          <div class="tab-content">

          <div class="tab-pane active" id="panel-483202">
          <% if FanProject.find_by_id(@fan_task.assigned_to).user_id.to_i==session[:currentUser].to_i  && ( @fan_task.status=="Active" || @fan_task.status=="Inactive") %>
          <div class="row">
            <div class="col-md-11">

                     <textarea class="summernote" id="contents-1" title="Contents">
              <%= @fan_task.brief %>
            </textarea>
            </div>
        <div class="col-md-1">


      <div style="" lk-google-picker on-picked="onPickedTask(docs)" on-loaded="onLoaded()" on-cancel="onCancel()">
        <img src="/images/upload_f.png" style="height:60px;margin-left: -12px;margin-top: 50px"  >
        </div>
        </div>
      </div>

          <% else %>
            <% if @fan_task.brief!=nil %>
              <%= @fan_task.brief.html_safe %>
            <% end -%>
          <% end -%>

          </div>
           <div class="tab-pane " id="panel-173764">
         <a href="javascript:;" lk-google-picker on-picked="filesSelected(docs)" on-loaded="onLoaded()"  class="btn btn-2 btn-2c btn-blue">
                <i class="fa fa-inbox"></i>
                <span>Pick files</span>
              </a>
<input type="text" value="<%= @ultimateSharedFiles %>" data-role="tagsinput" id="shared-files" readonly/>

          </div>
           <div class="tab-pane " id="panel-173765">
           <div class="row">
         <div class="col-md-6" style="z-index:32">
      <div class="jumbotron" style="border-radius: 25px;border: 2px solid #fff;width: 105%;" id="jomboTronDemoFile">
       <% if @fan_task.status=="Taken" %>
        <div style="" lk-google-picker on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()">
          <img id="preview-img" alt="Bootstrap Image Preview" src="/images/Demo_Zone.png" class="img-thumbnail">
        </div>
        <% else %>
              <% if FanFile.where(:task=>@fan_task.id,:description=>"final").last!=nil %>


        <a href="https://drive.google.com/file/d/<%= FanFile.where(:task=>@fan_task.id,:description=>"demo").last.file_id %>" target="_blank">
        <img id="preview-img" alt="Bootstrap Image Preview" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=Click%20here%20to%20see%20the%20requested%20task&w=350&h=150" class="img-thumbnail">
        </a>
        <% else %>

<img id="preview-img" alt="Bootstrap Image Preview" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=No%20file%20uploaded%20yet&w=350&h=150" class="img-thumbnail">
<% end %>
        <% end %>

      </div>
      <% if @fan_task.status=="Review" && FanProject.find_by_id(@fan_task.assigned_to).user_id.to_i==session[:currentUser].to_i   %>
      <a href="javascript:void(0);" id="accf" class="btn btn-success" role="button" ng-click="incontroller.acceptFile()" >Accept file</a>
      <a href="javascript:void(0);" id="rejf" class="btn btn-danger" role="button" ng-click="incontroller.rejectFile()" >Reject file</a>
      <% end %>
    </div>

    <div class="col-md-6" style="z-index:32">
      <div class="jumbotron" style="border-radius: 25px;border: 2px solid #fff;width: 105%;" id="jomboTronFinalFile">

      <% if @fan_task.status=="Taken" %>
        <div style="" lk-google-picker on-picked="onPickedFinal(docs)" on-loaded="onLoaded()" on-cancel="onCancel()">
          <img id="preview-img" alt="Bootstrap Image Preview" src="/images/Final_Zone.png" class="img-thumbnail">
        </div>

        <% else %>
        <% if FanFile.where(:task=>@fan_task.id,:description=>"demo").last!=nil %>


<a href="https://drive.google.com/file/d/<%= FanFile.where(:task=>@fan_task.id,:description=>"final").last.file_id %>" target="_blank">
<img id="preview-img" alt="Bootstrap Image Preview" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=Click%20here%20to%20see%20the%20demo%20file&w=350&h=150" class="img-thumbnail">
</a>
<% else %>

<img id="preview-img" alt="Bootstrap Image Preview" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=No%20file%20uploaded%20yet&w=350&h=150" class="img-thumbnail">
<% end %>
        <% end %>


      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6">

  <% if @fan_task.worker.to_i==session[:currentUser].to_i %>

  <button id="rsv" class="btn btn-info pull-right table-add" role="button" ng-click="incontroller.submitToFanimate()" disabled>Submit</button>
  <% end %>


  </div>
</div>

          </div>





        </div>




  </div>



  </div>
  <div class="actions">
    <% f.submit "Update task" %>
    <% if FanProject.find_by_id(@fan_task.assigned_to).user_id.to_i==session[:currentUser].to_i  && ( @fan_task.status=="Active" || @fan_task.status=="Inactive") %>
    <a href="javascript:void(0)" class="btn btn-info pull-right table-add" role="button" ng-click="incontroller.updateTask()">Update task</a>
    <% end %>
  </div>
<% end %>
