<%= render "shared/topMenu" %>
<div class="overlay" style="display:none">
  <div class="box">
    <span class="close fontawesome-remove-sign"></span>
    <h2>Assigning</h2>
    <p>Please wait while the documents are being sent.</p>
  </div>
</div>
<div id="watermark" style="top:310px;background-color:#118798">
    <img src="/images/mask_home.png" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
</div>
<div class="container">
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
         <img class="ng-scope" style="display: inline;" src="/images/Stat_<%= @fan_task.status_id %>.png">
        <% if @fan_task.status_id==5 || @fan_task.status_id==4  %>
          <% if FanUser.find_by_id( @fan_task.worker.to_i).username!=nil %>
           by  <b><%=  FanUser.find_by_id( @fan_task.worker.to_i).username %></b>
          <% end %>
        <% end %>
       <% if @fan_task.status_id==3 %>
         submittal from   <b><%=  FanUser.find_by_id( @fan_task.worker.to_i).username %></b>
        <% end %>

          <% if @fan_task.status_id==1 || @fan_task.status_id==2 %>
    <p id="countdownme" style="display:inline;"> <b> <%= @fan_task.due_time %> minutes </b> to deliver this task</p>
    <% end %>
          <% if @fan_task.status_id==4  %>
    <p id="countdownme" ><%= @fan_task.due_time %> </p><p>to deliver this task</p>
    <% end %>

      <!--  <p>to deliver this task</p> -->
        <div class="row">
    <div class="col-md-6" style="z-index:32">
		<h1>Viewing task</h1>
    </div>
    <div class="col-md-6" style="z-index:32">

    <div class="col-md-3">

      <a href="javascript:void(0)" class="btn btn-info pull-right table-add" role="button" ng-click="incontroller.gotoFolder(<%= @fan_task.id %>)">Download references</a>
    </div>
    <div class="col-md-3">
      <img src="/images/download_f.png" style="height:60px;" ng-click="incontroller.gotoFile(<%= @fan_task.id %>)" >
    </div>


    </div>
    </div>
		<% if @fan_task.status_id==1 %>
		<a href="javascript:void(0)" id="rsv" class="btn btn-info pull-right table-add" role="button" ng-click="incontroller.claimTask()">Claim task</a>



		<% end -%>
	</div>
<%= render 'form' %>

</div>
<% link_to 'Show', @fan_task %> |
<% link_to 'Back', fan_tasks_path %>
<%= render "shared/bottomMenu" %>