<h1>Listing fan_tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Task type</th>
      <th>Description</th>
      <th>Due time</th>
      <th>Price</th>
      <th>Status</th>
      <th>Assigned to</th>
      <th>Folder uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fan_tasks.each do |fan_task| %>
      <tr>
        <td><%= fan_task.name %></td>
        <td><%= fan_task.task_type %></td>
        <td><%= fan_task.description %></td>
        <td><%= fan_task.due_time %></td>
        <td><%= fan_task.price %></td>
        <td><%= fan_task.status %></td>
        <td><%= fan_task.assigned_to %></td>
        <td><%= fan_task.folder_uid %></td>
        <td><%= link_to 'Show', fan_task %></td>
        <td><%= link_to 'Edit', edit_fan_task_path(fan_task) %></td>
        <td><%= link_to 'Destroy', fan_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fan task', new_fan_task_path %>
