<%= render "shared/topMenu" %>
<div id="watermark" style="top:310px;background-color:#118798">
    <img src="/images/mask_home.png" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fan_task.name %>
</p>

<p>
  <strong>Task type:</strong>
  <%= @fan_task.task_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fan_task.description %>
</p>

<p>
  <strong>Due time:</strong>
  <%= @fan_task.due_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fan_task.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fan_task.status %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @fan_task.assigned_to %>
</p>

<p>
  <strong>Folder uid:</strong>
  <%= @fan_task.folder_uid %>
</p>

<%= link_to 'Edit', edit_fan_task_path(@fan_task) %> |
<%= link_to 'Back', fan_tasks_path %>
<%= render "shared/bottomMenu" %>
