<%= form_for(@fan_user) do |f| %>
  <% if @fan_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_user.errors.count, "error") %> prohibited this fan_user from being saved:</h2>

      <ul>
      <% @fan_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :empnum %><br>
    <%= f.text_field :empnum %>
  </div>
  <div class="field">
    <%= f.label :gtoken %><br>
    <%= f.text_field :gtoken %>
  </div>
  <div class="field">
    <%= f.label :gsecrettoken %><br>
    <%= f.text_field :gsecrettoken %>
  </div>
  <div class="field">
    <%= f.label :hashseed %><br>
    <%= f.text_field :hashseed %>
  </div>
  <div class="field">
    <%= f.label :rootFolder %><br>
    <%= f.text_field :rootFolder %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :expiration_token %><br>
    <%= f.text_field :expiration_token %>
  </div>
  <div class="field">
    <%= f.label :refresh_token %><br>
    <%= f.text_field :refresh_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
