<%= render "shared/topMenu" %>
<style type="text/css">
  h4{
    color:#1FC29E;
  }
</style>
<div id="watermark" style="top:310px;background-color:#118798">
    
</div>
<div class="container">
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>My Account</h1>
      
    </div>
    <div class="row">

    <div class="col-md-4">

    <img src="https://lh3.googleusercontent.com/-G25FDMg9HGY/AAAAAAAAAAI/AAAAAAAAAAA/4n7WW2L2l4A/photo.jpg" class="img-circle img-responsive" alt="Cinque Terre">

   

    </div>
  <div class="col-md-4">
    <h1><%= @fan_users[0].username %></h1>
    <p><%=  @fan_users[0].name %> <%=  @fan_users[0].lastname %></p>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-4">
        <h1>Projects</h1>
        <%= FanProject.where(:user_id=>session[:currentUser]).length %>
      </div>
    </div>
    <div class="row" style="margin-top:90px;">
      <div class="col-md-4">
        <h1>Tasks</h1>
        12
      </div>
    </div>
  </div>
  <br>
  <blockquote style="margin: -15px 0;border-bottom: thick solid #118798;">
    For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
  </blockquote>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="DZFNGU3L4MF6W">
<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>


<div class="tabbable" id="tabs-277840" style="margin-top:50px">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#panel-483202" data-toggle="tab">Stats</a>
          </li>
          <li>
            <a href="#panel-173764" data-toggle="tab">Portofolio</a>
          </li>
          <li>
            <a href="#panel-173765" data-toggle="tab">Feedback</a>
          </li>
    </ul>
    <div class="tab-content">

          <div class="tab-pane active" id="panel-483202"> 


    <div class="row">
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h4 
            >Approval ratio</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Done on time</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Speed</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Experience</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Earned</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Time aboard</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Reported</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Worked on</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Approval ratio</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>


        </div>
    
    
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h4>Approval ratio</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Done on time</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Speed</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Experience</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Earned</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Time aboard</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Reported</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Worked on</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>Approval ratio</h4>
          </div>
          <div class="col-md-3">
            20%
          </div>
        </div>


        </div>
    </div>
<br>
<br>

          <div class="demo-panel-black" style="padding: 25px;box-shadow: 0px 30px 70px -10px rgba(0,0,0,.2);">
          <div id="chartdiv">
  </div>
</div>

          </div>
          <div class="tab-pane active" id="panel-173764"> 
          </div>
          <div class="tab-pane active" id="panel-173765"> 
          </div>
    </div>
    </div>





    
  </div>
</div>


<br>


<%= render "shared/bottomMenu" %>
