<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @fan_user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @fan_user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fan_user.name %>
</p>

<p>
  <strong>Empnum:</strong>
  <%= @fan_user.empnum %>
</p>

<p>
  <strong>Gtoken:</strong>
  <%= @fan_user.gtoken %>
</p>

<p>
  <strong>Gsecrettoken:</strong>
  <%= @fan_user.gsecrettoken %>
</p>

<p>
  <strong>Hashseed:</strong>
  <%= @fan_user.hashseed %>
</p>

<p>
  <strong>Rootfolder:</strong>
  <%= @fan_user.rootFolder %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @fan_user.lastname %>
</p>

<p>
  <strong>Expiration token:</strong>
  <%= @fan_user.expiration_token %>
</p>

<p>
  <strong>Refresh token:</strong>
  <%= @fan_user.refresh_token %>
</p>

<%= link_to 'Edit', edit_fan_user_path(@fan_user) %> |
<%= link_to 'Back', fan_users_path %>
