<%= form_for(@fan_category) do |f| %>
  <% if @fan_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_category.errors.count, "error") %> prohibited this fan_category from being saved:</h2>

      <ul>
      <% @fan_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ivalue %><br>
    <%= f.number_field :ivalue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
