<h1>Listing fan_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ivalue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fan_categories.each do |fan_category| %>
      <tr>
        <td><%= fan_category.name %></td>
        <td><%= fan_category.ivalue %></td>
        <td><%= link_to 'Show', fan_category %></td>
        <td><%= link_to 'Edit', edit_fan_category_path(fan_category) %></td>
        <td><%= link_to 'Destroy', fan_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fan category', new_fan_category_path %>
