<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fan_category.name %>
</p>

<p>
  <strong>Ivalue:</strong>
  <%= @fan_category.ivalue %>
</p>

<%= link_to 'Edit', edit_fan_category_path(@fan_category) %> |
<%= link_to 'Back', fan_categories_path %>
