<%= simple_form_for @tags_needed do |f| %>
<input type="hidden" name="tags_needed[project_id]" value="<%= @tags_needed.project_id %>">
<input type="hidden" name="tags_needed[task_id]" value="<%= @tags_needed.task_id %>">
  <% if @tags_needed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tags_needed.errors.count, "error") %> prohibited this tags_needed from being saved:</h2>

      <ul>
      <% @tags_needed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <% f.label :task_id %><br>
    <% f.number_field :task_id %>
  </div> -->
  <div class="field">
    <%= f.input :fan_style_definition_id,:collection => FanStyleDefinition.all,:label_method => :name,:value_method => :id,:label => "Style" ,:include_blank => false %>
  </div>
  <!-- <div class="field">
    <% f.label :project_id %><br>
    <% f.number_field :project_id %>
  </div> -->
  <!-- <div class="field">
    <% f.label :fan_style_text %><br>
    <% f.text_field :fan_style_text %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
