<h1>Listing tags_neededs</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Fan style definition</th>
      <th>Project</th>
      <th>Fan style text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags_neededs.each do |tags_needed| %>
      <tr>
        <td><%= tags_needed.task_id %></td>
        <td><%= tags_needed.fan_style_definition_id %></td>
        <td><%= tags_needed.project_id %></td>
        <td><%= tags_needed.fan_style_text %></td>
        <td><%= link_to 'Show', tags_needed %></td>
        <td><%= link_to 'Edit', edit_tags_needed_path(tags_needed) %></td>
        <td><%= link_to 'Destroy', tags_needed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tags needed', new_tags_needed_path %>
