<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @tags_needed.task_id %>
</p>

<p>
  <strong>Fan style definition:</strong>
  <%= @tags_needed.fan_style_definition_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @tags_needed.project_id %>
</p>

<p>
  <strong>Fan style text:</strong>
  <%= @tags_needed.fan_style_text %>
</p>

<%= link_to 'Edit', edit_tags_needed_path(@tags_needed) %> |
<%= link_to 'Back', tags_neededs_path %>
