<%= form_for(@ipaypal) do |f| %>
  <% if @ipaypal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ipaypal.errors.count, "error") %> prohibited this ipaypal from being saved:</h2>

      <ul>
      <% @ipaypal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transaction_id %><br>
    <%= f.text_field :transaction_id %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.text_field :status_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
