<%= render "shared/topMenu" %>
<style type="text/css">
  h4{
    color:#1FC29E;
  }
</style>
<div id="watermark" style="top:310px;background-color:#118798">
    
</div>
<div class="container">
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1><%= params[:q] %> from paypal</h1>
      
    </div>
    

    
  </div>
</div>


<br>


<%= render "shared/bottomMenu" %>
