<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @ipaypal.transaction_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ipaypal.status_id %>
</p>

<%= link_to 'Edit', edit_ipaypal_path(@ipaypal) %> |
<%= link_to 'Back', ipaypals_path %>
