<%= simple_form_for @fan_user_style do |f| %>
<input type="hidden" name="fan_user_style[user_id]" value="<%= @fan_user_style.user_id %>">
  <% if @fan_user_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_user_style.errors.count, "error") %> prohibited this fan_user_style from being saved:</h2>

      <ul>
      <% @fan_user_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% f.label :style_definition_id %><br>
    
    <%= f.input :style_definition_id,:collection => FanStyleDefinition.all,:label_method => :name,:value_method => :id,:label => "Style" ,:include_blank => false %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <% f.number_field :user_id %>
    <% if @fan_user_style.user_id!=nil %>
      <%= FanUser.find_by_id(@fan_user_style.user_id).username %> 
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
