<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Skill filter</h4>
      </div>
      <div class="modal-body">



<table class="table table-striped">
  <thead>
    <tr>
      <th>Style definition</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fan_user_styles.each do |fan_user_style| %>
      <tr>
        <td><%= FanStyleDefinition.find_by_id(fan_user_style.style_definition_id).name %></td>
        <td><%= FanUser.find_by_id(fan_user_style.user_id).username %></td>
        <td><%= link_to 'Show', fan_user_style %></td>
        <td><%= link_to 'Edit', edit_fan_user_style_path(fan_user_style) %></td>
        <td><%= link_to 'Destroy', fan_user_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h4>Add a new style to this user</h4>
<%= render "fan_user_styles/form" %>

</div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
<% link_to 'New Fan user style', new_fan_user_style_path %>
