<p id="notice"><%= notice %></p>

<p>
  <strong>Style definition:</strong>
  <%= @fan_user_style.style_definition_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @fan_user_style.user_id %>
</p>

<%= link_to 'Edit', edit_fan_user_style_path(@fan_user_style) %> |
<%= link_to 'Back', fan_user_styles_path %>
