<!DOCTYPE html>
<html>
<head>
  <title>Fanimate</title>

  <script src="/js/pusher.js"></script>
  <script src="/angularc/angular.min.js"></script>
  <script src="/js/angular-sanitize.min.js"></script>
  <script src="/angularc/fanimateApp.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/dropDownCustom.css">
  <% if !Rails.env.production? %>
  <script type="text/javascript">
     Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
    </script>
  <% end %>
  <% if request.fullpath.index("fan_tasks")!=nil or request.fullpath.index("fan_projects/")!=nil %>
  <script src="//apis.google.com/js/client.js"></script>
  <script src="//apis.google.com/js/api.js"></script>

  <% end %>
  <script src="/angularc/google-picker.min.js"></script>
  <style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }
  </style>

  <% if request.fullpath!="/" and request.fullpath.index("/?q=")==nil %>
  <% puts "============FULL-PATH=========="+request.fullpath %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/tether/dist/css/tether.min.css">
    <script src="/tether/dist/js/tether.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/topmenu.css">
    <link rel="stylesheet" type="text/css" href="/css/dropDownCustom.css">
    <link rel="stylesheet" type="text/css" href="/css/bottommenu.css">
    <link rel="stylesheet" type="text/css" href="/css/textInput.css">
    <script src="/js/bootbox.min.js"></script>

    <script src="/summernote/dist/summernote.min.js"></script>
    <link rel="stylesheet" href="/summernote/dist/summernote.css">
    <script type="text/javascript" src="/js/jquery.tooltipster.js"></script>
    <% if request.fullpath.index("fan_task")!=nil %>
    <link rel="stylesheet" href="/js/tagsinput/bootstrap-tagsinput.css">
  <script src="/js/tagsinput/bootstrap-tagsinput.min.js"></script>
  <script src="/js/tagsinput/bootstrap-tagsinput-angular.min.js"></script>
  <script type="text/javascript">
    $(function() {
  $('input, select').on('change', function(event) {
    var $element = $(event.target),
      $container = $element.closest('.example');

    if (!$element.data('tagsinput'))
      return;

    var val = $element.val();
    if (val === null)
      val = "null";
    $('code', $('pre.val', $container)).html( ($.isArray(val) ? JSON.stringify(val) : "\"" + val.replace('"', '\\"') + "\"") );
    $('code', $('pre.items', $container)).html(JSON.stringify($element.tagsinput('items')));
  }).trigger('change');
});
  </script>

    <% end %>
  <% end %>
<link rel="stylesheet" type="text/css" href="/css/tooltipster.css" />
  <link rel="stylesheet" type="text/css" href="/css/themes/tooltipster-light.css" />
  <link rel="stylesheet" type="text/css" href="/css/themes/tooltipster-noir.css" />
  <link rel="stylesheet" type="text/css" href="/css/themes/tooltipster-punk.css" />
  <link rel="stylesheet" type="text/css" href="/css/themes/tooltipster-shadow.css" />


</head>

<% if request.fullpath.index("fan_projects")!=nil %>
<body ng-app="fanimateApp" ng-controller="myProjectsController as incontroller" ng-cloak>
<% elsif request.fullpath.index("fan_tasks")!=nil %>
<body ng-app="fanimateApp" ng-controller="tasksController as incontroller" ng-cloak>
<% elsif request.fullpath.index("fan_users")!=nil %>
<body ng-app="fanimateApp" ng-controller="userController as incontroller" ng-cloak>

<% elsif request.fullpath.index("fan_rate")!=nil %>
<body ng-app="fanimateApp" ng-controller="rateController as incontroller" ng-cloak>
<% else %>
<body>
<% end %>

<%= yield %>
<% if request.fullpath.index("fan_tasks")!=nil %>
<script src="/angularc/tasksController.js"></script>
<script src="/js/angular-touch.js"></script>
<script src="/js/angular-animate.js"></script>
<script src="/js/csv.js"></script>
<script src="/js/pdfmake.js"></script>
<script src="//ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<link rel="stylesheet" href="/css/modalOveryal.css">
<script src="/js/datagrid.js"></script>
<script src="/js/countdown.js"></script>
<script type="text/javascript">



window.token="<%= form_authenticity_token %>";
  <% if @fan_task!=nil %>
  <% if @fan_task.id!=nil %>
  window.editabletask=<%= @fan_task.id %>;
  <% end %>
  <% end %>

  <% if @fan_task.status=="Taken" and @fan_task.taken_on!=nil %>
  var timerId =
  countdown(
    new Date(<%= (@fan_task.taken_on+@fan_task.due_time.to_i.minutes).to_f * 1000 %>),
    function(ts) {
      document.getElementById('countdownme').innerHTML = ts.toHTML("strong");
    },
    countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
  <% end %>
window.rootSummer=function(){
    console.log("rootsummer");
    $('.summernote').summernote({
          height:200,
        callbacks: {
          onChange: function(contents, $editable) {
            console.log('onChange:', contents, $editable);
            window.incontroller.saveTo(this);
          }
        }
      });
    $( ".summernote" ).removeClass( "summernote" );
  }
</script>
<% end %>


<% if request.fullpath.index("fan_projects")!=nil %>

<script src="/angularc/myProjectsController.js"></script>
<link rel="stylesheet" type="text/css" href="/css/tab-extender.css">
<link rel="stylesheet" type="text/css" href="/css/progressbar.css">
<link rel="stylesheet" type="text/css" href="/css/projectPod.css">

<script src="/js/angular-touch.js"></script>
<script src="/js/angular-animate.js"></script>
<script src="/js/csv.js"></script>
<script src="/js/pdfmake.js"></script>
<script src="//ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>

<script src="/js/datagrid.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datagrid.css">
  <script type="text/javascript">

  <% if request.fullpath.index("fan_projects/")!=nil %>
    window.homeProject=true;
    console.log("home is true");
  <% else %>
    window.homeProject=false;
    console.log("home is false");
  <% end %>

    $(".nav-tabs").on("click", "a", function (e) {
        e.preventDefault();
        if (!$(this).hasClass('add-ntab')) {
            $(this).tab('show');
        }
    })
    .on("click", "span", function () {
        var anchor = $(this).siblings('a');
        $(anchor.attr('href')).remove();
        $(this).parent().remove();
        $(".nav-tabs li").children('a').first().click();
    });

    $(window).load(function(){
       //window.rootSummer();
    })

  window.rootSummer=function(){
    console.log("rootsummer");
    $('.summernote').summernote({
          height:200,
        callbacks: {
          onChange: function(contents, $editable) {
            console.log('onChange:', contents, $editable);
            window.incontroller.saveTo(this);
          }
        }
      });
    $( ".summernote" ).removeClass( "summernote" );
  }
  window.rootSummerItem=function(id){
    console.log("rootsummer item");
    $(id).summernote({
          height:200,
        callbacks: {
          onChange: function(contents, $editable) {
            console.log('onChange:', contents, $editable);
            window.incontroller.saveTo(this);
          }
        }
      });
    $( ".summernote" ).removeClass( "summernote" );
  }

  window.token="<%= form_authenticity_token %>";
  <% if @fan_project!=nil %>
  <% if @fan_project.id!=nil %>
  window.editableitem=<%= @fan_project.id %>;
  <% end %>
  <% end %>



  </script>
  <link rel="stylesheet" type="text/css" href="/css/editable-table.css">
  <script src="/js/editable-table.js"></script>
  <% end %>
  <% if request.fullpath.index("fan_rates")!=nil %>

<script src="/angularc/rateController.js"></script>
<link rel="stylesheet" type="text/css" href="/css/tab-extender.css">
<link rel="stylesheet" type="text/css" href="/css/progressbar.css">
<link rel="stylesheet" type="text/css" href="/css/projectPod.css">

<script src="/js/angular-touch.js"></script>
<script src="/js/angular-animate.js"></script>
<script src="/js/csv.js"></script>
<script src="/js/pdfmake.js"></script>
<script src="//ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>

<script src="/js/datagrid.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datagrid.css">
<script type="text/javascript" src="js/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/js/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" type="text/css"/>
<% end %>
<% if request.fullpath.index("fan_users")!=nil %>

<script src="/angularc/userController.js"></script>
<link rel="stylesheet" type="text/css" href="/css/tab-extender.css">
<link rel="stylesheet" type="text/css" href="/css/progressbar.css">
<link rel="stylesheet" type="text/css" href="/css/projectPod.css">
<link rel="stylesheet" type="text/css" href="/css/userChart.css">

<script src="/js/angular-touch.js"></script>
<script src="/js/angular-animate.js"></script>
<script src="/js/csv.js"></script>
<script src="/js/pdfmake.js"></script>
<script src="//ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<script src="//www.amcharts.com/lib/3/themes/dark.js"></script>
<script src="/js/fanChart.js"></script>

<script src="/js/datagrid.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datagrid.css">

<% end %>
<% if request.fullpath=="/" and request.fullpath.index("/?q=")==nil %>
<script type="text/javascript">
  window.token="<%= form_authenticity_token %>";
  window.home="home";
</script>

<% end %>
<% if request.fullpath.index("fan_rate")!=nil %>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example-getting-started').multiselect(
          {onChange: function(option, checked) {
            window.incontroller.saveColumn(option[0].text,checked);
          }});
    });
</script>
<% end %>
<script type="text/javascript">

  $(document).ready(function () {
      $('#myModal').on('hidden.bs.modal', function () {
          $("#innerModalContent").empty(); //<---- empty() to clear the modal
      })
      $('#myModal').on('show.bs.modal', function (ev) {
         $("#innerModalContent").load(ev.relatedTarget.href,function(ev){

         });
      });
  });
  window.token="<%= form_authenticity_token %>";

</script>
</body>
</html>
